# folders
/downloads/
sample/
result/
tmp/
gff_result/
test/

# files
*.gz
*.zip
*.fna
*.faa
*.fa
*.gff
*.gtf
*.gbff
*.pdf
*.ppt
*.pptx
*.html
scripts/.nfs0000000005c53a5b00009ae3
nohup.out
scripts/.nfs0000000005c53a0e00009c8a
